.header {
    text-align: center;
}

.lead {
    text-align: center;
}

.jumbotron {
    margin: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    outline-color: black;
    outline-style: solid;
}

.navbar {
    outline-color: black;
    outline-style: solid;
}