.searchPane {
    outline-color: black;
    outline-style: solid;
    margin: 20px;
    height: 220px;
}

.formSpace {
    margin: 20px;
}

.btn {
    width: 120px;
    /* color: #6c757d; */
}

.form-control {
    width: 100%;
}